[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
djangorestframework = "*"
django-cors-headers = "*"
gunicorn = "*"
django-heroku = "*"
psycopg2-binary = "*"
whitenoise = "*"
Django = "*"

[requires]
python_version = "3.7"
